    <div class="col-md-12 welcome">
        <h1>
            <strong><img src="img/logo.png"  class="logo_img" style="max-width:95%" alt="FloraMap"></strong>
        </h1>
        <div class="visible-xs-block visible-sm-block"> 
            <a href="#plants/add">
                <button type="button" class="btn btn-default btn-lg btn-block">
                    <span class="glyphicon glyphicon-edit"></span> Add Plant
                </button>
            </a>
            <a href="#plants">
                <button type="button" class="btn btn-default btn-lg btn-block">
                    <span class="glyphicon glyphicon-search"></span> Browse Plants
                </button>
            </a>
        </div>
    </div>